

.presentacion {
	/* --- P O S I C I Ó N --- */
	 margin-top: 60px;	
	/* margin-right: auto;
	margin-left: auto; */
	text-align: center;
	/* --- F O N D O --- */
	background: rgba(255,153,0,1);
	background: -moz-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(255,213,0,1) 24%, rgba(238,255,0,1) 41%, rgba(78,158,3,1) 81%, rgba(78,158,3,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,153,0,1)), color-stop(24%, rgba(255,213,0,1)), color-stop(41%, rgba(238,255,0,1)), color-stop(81%, rgba(78,158,3,1)), color-stop(100%, rgba(78,158,3,1)));
	background: -webkit-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(255,213,0,1) 24%, rgba(238,255,0,1) 41%, rgba(78,158,3,1) 81%, rgba(78,158,3,1) 100%);
	background: -o-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(255,213,0,1) 24%, rgba(238,255,0,1) 41%, rgba(78,158,3,1) 81%, rgba(78,158,3,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(255,213,0,1) 24%, rgba(238,255,0,1) 41%, rgba(78,158,3,1) 81%, rgba(78,158,3,1) 100%);
	background: linear-gradient(to right, rgba(255,153,0,1) 0%, rgba(255,213,0,1) 24%, rgba(238,255,0,1) 41%, rgba(78,158,3,1) 81%, rgba(78,158,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#4e9e03', GradientType=1 );
	/* --- S O M B R A ---- */
	-webkit-box-shadow: -12px 16px 10px -3px rgba(235,230,235,1);
	-moz-box-shadow: -12px 16px 10px -3px rgba(235,230,235,1);
	box-shadow: -12px 16px 10px -3px rgba(235,230,235,1);
	/* --- F O R M A --- */
	 width: 800px;
     height: auto;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     
     border: 1px solid #11F811;
}

.presentacion h2{
	margin-top: 30px;
	margin-bottom: 0px;
	font-family: 'Mina', sans-serif;
	font-size: 300.0%;
	/*background-image: linear-gradient(45deg,#008F11 48%,#F1FF09 42%,#C10226 100%);*/
	background-image: linear-gradient(45deg,#008F11 40%,#FFAB09 65%,#FFCC02 50%);
	    -webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
}

.presentacion h3{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
	text-align: right;
	font-family: 'Mina', sans-serif;
	font-size: 30px;
	color: white;
}

.ind_v{
	z-index: 100;
	padding: 0;
	margin-top: 75px;
	margin-left: 15px;
	float: left;
	position: fixed;
}

.indice {
	z-index: 100;
	margin-top: 118px;
	margin-left: -90px;
	float: left;
	position: fixed;
	/* --- F O R M A ---*/
	width: 0px; 
    height: auto;
    border-right: 100px solid rgba(200, 200, 200, 0.2);
    border-bottom: 10px solid transparent;
   	transition: all 1s ease;
}
.indice_f{
	z-index: 100;
	margin-top: 110px;
	margin-left: 10px;
	float: left;
	position: fixed;
	/* --- F O R M A --- */
	width: 0px; 
    height: auto;
	border-left: 20px solid rgba(200, 200, 200, 0.9);
    border-right: 100px solid rgba(100, 100, 100, 0.7);
	border-bottom: 20px solid transparent;
	transition: all 1s ease;
}

/*.indice:hover{
	margin-left: 10px;
	border-left: 20px solid #5AD86F;
    border-right: 100px solid rgba(8, 150, 8, 0.8); 
	border-bottom: 20px solid transparent;
	transition: all 1s ease;
}*/
.ind {
	margin-left: 8px;
}


.prd0011 {
	background: rgba(109,252,125,0);
background: -moz-linear-gradient(left, rgba(109,252,125,0) 70%, rgba(109,252,125,0.6) 88%, rgba(10,255,18,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(70%, rgba(109,252,125,0)), color-stop(88%, rgba(109,252,125,0.6)), color-stop(100%, rgba(10,255,18,1)));
background: -webkit-linear-gradient(left, rgba(109,252,125,0) 70%, rgba(109,252,125,0.6) 88%, rgba(10,255,18,1) 100%);
background: -o-linear-gradient(left, rgba(109,252,125,0) 70%, rgba(109,252,125,0.6) 88%, rgba(10,255,18,1) 100%);
background: -ms-linear-gradient(left, rgba(109,252,125,0) 70%, rgba(109,252,125,0.6) 88%, rgba(10,255,18,1) 100%);
background: linear-gradient(to right, rgba(109,252,125,0) 70%, rgba(109,252,125,0.6) 88%, rgba(10,255,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dfc7d', endColorstr='#0aff12', GradientType=1 );
}
.prd0012 {
	background: rgba(10,255,18,1);
background: -moz-linear-gradient(left, rgba(10,255,18,1) 0%, rgba(109,252,125,0.6) 12%, rgba(109,252,125,0) 30%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,255,18,1)), color-stop(12%, rgba(109,252,125,0.6)), color-stop(30%, rgba(109,252,125,0)));
background: -webkit-linear-gradient(left, rgba(10,255,18,1) 0%, rgba(109,252,125,0.6) 12%, rgba(109,252,125,0) 30%);
background: -o-linear-gradient(left, rgba(10,255,18,1) 0%, rgba(109,252,125,0.6) 12%, rgba(109,252,125,0) 30%);
background: -ms-linear-gradient(left, rgba(10,255,18,1) 0%, rgba(109,252,125,0.6) 12%, rgba(109,252,125,0) 30%);
background: linear-gradient(to right, rgba(10,255,18,1) 0%, rgba(109,252,125,0.6) 12%, rgba(109,252,125,0) 30%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aff12', endColorstr='#6dfc7d', GradientType=1 );
}



.prd0021 {
	background: rgba(110,217,250,0);
background: -moz-linear-gradient(left, rgba(110,217,250,0) 70%, rgba(110,217,250,0.6) 88%, rgba(10,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(70%, rgba(110,217,250,0)), color-stop(88%, rgba(110,217,250,0.6)), color-stop(100%, rgba(10,255,255,1)));
background: -webkit-linear-gradient(left, rgba(110,217,250,0) 70%, rgba(110,217,250,0.6) 88%, rgba(10,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(110,217,250,0) 70%, rgba(110,217,250,0.6) 88%, rgba(10,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(110,217,250,0) 70%, rgba(110,217,250,0.6) 88%, rgba(10,255,255,1) 100%);
background: linear-gradient(to right, rgba(110,217,250,0) 70%, rgba(110,217,250,0.6) 88%, rgba(10,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ed9fa', endColorstr='#0affff', GradientType=1 );
}
.prd0022 {
	background: rgba(10,255,255,1);
background: -moz-linear-gradient(left, rgba(10,255,255,1) 0%, rgba(110,217,250,0.6) 12%, rgba(110,217,250,0) 30%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,255,255,1)), color-stop(12%, rgba(110,217,250,0.6)), color-stop(30%, rgba(110,217,250,0)));
background: -webkit-linear-gradient(left, rgba(10,255,255,1) 0%, rgba(110,217,250,0.6) 12%, rgba(110,217,250,0) 30%);
background: -o-linear-gradient(left, rgba(10,255,255,1) 0%, rgba(110,217,250,0.6) 12%, rgba(110,217,250,0) 30%);
background: -ms-linear-gradient(left, rgba(10,255,255,1) 0%, rgba(110,217,250,0.6) 12%, rgba(110,217,250,0) 30%);
background: linear-gradient(to right, rgba(10,255,255,1) 0%, rgba(110,217,250,0.6) 12%, rgba(110,217,250,0) 30%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0affff', endColorstr='#6ed9fa', GradientType=1 );
}




.prd0031 {
background: rgba(245,196,0,0);
background: -moz-linear-gradient(left, rgba(245,196,0,0) 70%, rgba(245,196,0,0.5) 85%, rgba(255,183,0,0.87) 96%, rgba(255,183,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(70%, rgba(245,196,0,0)), color-stop(85%, rgba(245,196,0,0.5)), color-stop(96%, rgba(255,183,0,0.87)), color-stop(100%, rgba(255,183,0,1)));
background: -webkit-linear-gradient(left, rgba(245,196,0,0) 70%, rgba(245,196,0,0.5) 85%, rgba(255,183,0,0.87) 96%, rgba(255,183,0,1) 100%);
background: -o-linear-gradient(left, rgba(245,196,0,0) 70%, rgba(245,196,0,0.5) 85%, rgba(255,183,0,0.87) 96%, rgba(255,183,0,1) 100%);
background: -ms-linear-gradient(left, rgba(245,196,0,0) 70%, rgba(245,196,0,0.5) 85%, rgba(255,183,0,0.87) 96%, rgba(255,183,0,1) 100%);
background: linear-gradient(to right, rgba(245,196,0,0) 70%, rgba(245,196,0,0.5) 85%, rgba(255,183,0,0.87) 96%, rgba(255,183,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c400', endColorstr='#ffb700', GradientType=1 );
}
.prd0032 {
	background: rgba(255,183,0,1);
background: -moz-linear-gradient(left, rgba(255,183,0,1) 0%, rgba(255,183,0,0.87) 4%, rgba(245,196,0,0.5) 15%, rgba(245,196,0,0) 30%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,183,0,1)), color-stop(4%, rgba(255,183,0,0.87)), color-stop(15%, rgba(245,196,0,0.5)), color-stop(30%, rgba(245,196,0,0)));
background: -webkit-linear-gradient(left, rgba(255,183,0,1) 0%, rgba(255,183,0,0.87) 4%, rgba(245,196,0,0.5) 15%, rgba(245,196,0,0) 30%);
background: -o-linear-gradient(left, rgba(255,183,0,1) 0%, rgba(255,183,0,0.87) 4%, rgba(245,196,0,0.5) 15%, rgba(245,196,0,0) 30%);
background: -ms-linear-gradient(left, rgba(255,183,0,1) 0%, rgba(255,183,0,0.87) 4%, rgba(245,196,0,0.5) 15%, rgba(245,196,0,0) 30%);
background: linear-gradient(to right, rgba(255,183,0,1) 0%, rgba(255,183,0,0.87) 4%, rgba(245,196,0,0.5) 15%, rgba(245,196,0,0) 30%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#f5c400', GradientType=1 );
}


.prd0041 {
	background: rgba(90,147,245,0);
	background: -moz-linear-gradient(left, rgba(90,147,245,0) 54%, rgba(90,147,245,0.65) 84%, rgba(68,142,245,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(54%, rgba(90,147,245,0)), color-stop(84%, rgba(90,147,245,0.65)), color-stop(100%, rgba(68,142,245,1)));
	background: -webkit-linear-gradient(left, rgba(90,147,245,0) 54%, rgba(90,147,245,0.65) 84%, rgba(68,142,245,1) 100%);
	background: -o-linear-gradient(left, rgba(90,147,245,0) 54%, rgba(90,147,245,0.65) 84%, rgba(68,142,245,1) 100%);
	background: -ms-linear-gradient(left, rgba(90,147,245,0) 54%, rgba(90,147,245,0.65) 84%, rgba(68,142,245,1) 100%);
	background: linear-gradient(to right, rgba(90,147,245,0) 54%, rgba(90,147,245,0.65) 84%, rgba(68,142,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a93f5', endColorstr='#448ef5', GradientType=1 );
}
.prd0042 {
	background: rgba(68,142,245,1);
	background: -moz-linear-gradient(left, rgba(68,142,245,1) 0%, rgba(90,147,245,0.65) 16%, rgba(90,147,245,0) 46%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68,142,245,1)), color-stop(16%, rgba(90,147,245,0.65)), color-stop(46%, rgba(90,147,245,0)));
	background: -webkit-linear-gradient(left, rgba(68,142,245,1) 0%, rgba(90,147,245,0.65) 16%, rgba(90,147,245,0) 46%);
	background: -o-linear-gradient(left, rgba(68,142,245,1) 0%, rgba(90,147,245,0.65) 16%, rgba(90,147,245,0) 46%);
	background: -ms-linear-gradient(left, rgba(68,142,245,1) 0%, rgba(90,147,245,0.65) 16%, rgba(90,147,245,0) 46%);
	background: linear-gradient(to right, rgba(68,142,245,1) 0%, rgba(90,147,245,0.65) 16%, rgba(90,147,245,0) 46%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448ef5', endColorstr='#5a93f5', GradientType=1 );
}


.prd0051{
background: rgba(179,220,237,0);
background: -moz-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.71) 71%, rgba(170,235,172,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,0)), color-stop(71%, rgba(255,255,255,0.71)), color-stop(100%, rgba(170,235,172,1)));
background: -webkit-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.71) 71%, rgba(170,235,172,1) 100%);
background: -o-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.71) 71%, rgba(170,235,172,1) 100%);
background: -ms-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.71) 71%, rgba(170,235,172,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,0) 0%, rgba(255,255,255,0.71) 71%, rgba(170,235,172,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#aaebac', GradientType=1 );
transition: all 3s;
}
.prd0052{
	transition: all 3s;
	background: rgba(170,235,172,1);
background: -moz-linear-gradient(left, rgba(170,235,172,1) 0%, rgba(255,255,255,0.71) 29%, rgba(179,220,237,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(170,235,172,1)), color-stop(29%, rgba(255,255,255,0.71)), color-stop(100%, rgba(179,220,237,0)));
background: -webkit-linear-gradient(left, rgba(170,235,172,1) 0%, rgba(255,255,255,0.71) 29%, rgba(179,220,237,0) 100%);
background: -o-linear-gradient(left, rgba(170,235,172,1) 0%, rgba(255,255,255,0.71) 29%, rgba(179,220,237,0) 100%);
background: -ms-linear-gradient(left, rgba(170,235,172,1) 0%, rgba(255,255,255,0.71) 29%, rgba(179,220,237,0) 100%);
background: linear-gradient(to right, rgba(170,235,172,1) 0%, rgba(255,255,255,0.71) 29%, rgba(179,220,237,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaebac', endColorstr='#b3dced', GradientType=1 );
}

.prd0051:hover {
	transition-timing-function: ease;
	background: rgba(179,220,237,0);
background: -moz-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.37) 37%, rgba(115,235,117,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,0)), color-stop(37%, rgba(255,255,255,0.37)), color-stop(100%, rgba(115,235,117,1)));
background: -webkit-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.37) 37%, rgba(115,235,117,1) 100%);
background: -o-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.37) 37%, rgba(115,235,117,1) 100%);
background: -ms-linear-gradient(left, rgba(179,220,237,0) 0%, rgba(255,255,255,0.37) 37%, rgba(115,235,117,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,0) 0%, rgba(255,255,255,0.37) 37%, rgba(115,235,117,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#73eb75', GradientType=1 );

}
.prd0052:hover {
	transition: all 3s;
	background: rgba(115,235,117,1);
background: -moz-linear-gradient(left, rgba(115,235,117,1) 0%, rgba(255,255,255,0.37) 63%, rgba(179,220,237,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(115,235,117,1)), color-stop(63%, rgba(255,255,255,0.37)), color-stop(100%, rgba(179,220,237,0)));
background: -webkit-linear-gradient(left, rgba(115,235,117,1) 0%, rgba(255,255,255,0.37) 63%, rgba(179,220,237,0) 100%);
background: -o-linear-gradient(left, rgba(115,235,117,1) 0%, rgba(255,255,255,0.37) 63%, rgba(179,220,237,0) 100%);
background: -ms-linear-gradient(left, rgba(115,235,117,1) 0%, rgba(255,255,255,0.37) 63%, rgba(179,220,237,0) 100%);
background: linear-gradient(to right, rgba(115,235,117,1) 0%, rgba(255,255,255,0.37) 63%, rgba(179,220,237,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73eb75', endColorstr='#b3dced', GradientType=1 );
}